*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 70px;
    background-image: linear-gradient( to bottom, rgb(34, 56, 247), rgb(25, 51, 168), rgb(11, 9, 148), rgb(9, 9, 97) );     justify-content: right;
}

.borda{
    display: flex;
    margin-right: 160px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    width: 650px;
    margin-bottom: 19px;
    align-items: center;
    height: 30px;
}

.menuItem{
    text-decoration: none;
    list-style: none;
    align-items: end;
    color: aliceblue;
}

.linkMenu{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu:hover{
    background: #021258;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 90px;
    height: 90px;   
    color: rgb(255, 255, 255);
}

.linkMenu1{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu1:hover{
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    margin-right: 30px;
    height: 20px;
    color: #eeeeee;
}

.linkMenu2{
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu2:hover{
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    margin-right: 25px;
    height: 20px;
    color: #eef0f8;
}

.barra{
    color: #eeeeee;
    margin-bottom: 15px;
    margin-right: 10px;
}

.logo{
    width: 90px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.titulo{
    font-size: 20px;
    margin-right: 150px;
    color: #eeeeee;
    margin-bottom: 25px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.animated{
    width: 550px;
    margin-left: 190px;
}

.containerP{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 19    0px;
}


.p1{
    margin-top: 50px;
    font-size: 70px;
    font-family: "Mukta", sans-serif;
    color: #020f58;
    margin-left: 30px;
}

.p2{
    font-size: 170px;
    font-family: "Mukta", sans-serif;
    color: #020f58;
    margin-top: -100px;
    margin-left: 35px;
}

.pTexto{
    font-size: 25px;
    margin-left: 15px;
}

.h1SobreNos{
    text-align: center;
    margin-right: 58px;
    font-size: 45px;
    font-family: "Mukta", sans-serif;
    margin-bottom: -75px;
    color: #eeeeee;
}

#containerSobre{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #1d295f;
    height: 400px;
    justify-content: space-evenly;
}

.textoSobrenos{
    display: flex;
    margin-top: 20px;
    float: right;
    font-size: 25px;
    font-family: "Mukta", sans-serif;

}

.pSobreNos{
    font-size: 20px;
    margin-top:  -5px;
    color: #eeeeee;
    font-family: "Mukta", sans-serif;
    margin-right: 750px;
}

.barraSobreNos{
    margin-left: 630px;
    background: #eeeeee;
    height: 140px;
    width: 5px;
    color: #eeeeee;
    margin-top: -120px;
}

.pSobreNos2{
    font-size: 20px;
    margin-left: 695px;
    margin-top: -160px;
    color: #eeeeee;
    font-family: "Mukta", sans-serif;
}

#boddy{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: space-around;
}

.explicacao{
    border-left: 25px;
    padding-top: 8px;
    width: 500px;
    font-size: large;
    /* color: white;
    border: 6px solid #020f58;
    border-radius: 3px; */
    color:  #020f58;
}

.primeiroCalculo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
    display: flex;
    width: 700px;
    height: 400px;
    
    color: white;
    font-size: large;
    
    
    border-left: 25px;
    border: 6px solid #020f58;
    border-radius: 20px;
    background-color: grey;

}

button{
    border: 3px solid #020f58;
    width: 100px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #020f58;
}

.boddy{
    width: 1435px;
    padding: 3% 15% 5% 2%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
}

.segundoCalculo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    display: flex;
    width: 60%;
    height: 400px;
    
    color: white;
    font-size: large;
    
    
    border-left: 25px;
    border: 6px solid #020f58;
    border-radius: 20px;
    background-color: grey;
}

.mensagem{
    color: red;
}

