* {
    padding: 0;
    margin: 0;
    font-family: "Mukta", sans-serif;
}

body {
    background: #f1f1f1;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 70px;
    background: rgba(148, 147, 147, 0.404);
    backdrop-filter: blur(19.5px);
    justify-content: right;
    position: fixed;
}

.borda {
    display: flex;
    margin-right: 160px;
    border: 1px solid rgba(4, 30, 77, 0.39);
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    width: 750px;
    margin-bottom: 19px;
    align-items: center;
    height: 30px;
}

.menuItem {
    text-decoration: none;
    list-style: none;
    align-items: end;
    color: aliceblue;
}

.linkMenu {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu:hover {
    background: #021258;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 90px;
    height: 90px;
    color: rgb(255, 255, 255);
}

.linkMenu1 {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu1:hover {
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    margin-right: 30px;
    height: 20px;
    color: #eeeeee;
}

.linkMenu2 {
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu2:hover {
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    margin-right: 25px;
    height: 20px;
    color: #eef0f8;
}

.barra {
    color: #eeeeee;
    margin-bottom: 15px;
    margin-right: 10px;
}

.logo {
    width: 55px;
    margin-right: 150px;
    margin-bottom: 8px;
    width: 90px;
    margin-right: 280px;
    margin-bottom: 1px;
    margin-left: 20px;
}

.titulo {
    font-size: 20px;
    margin-right: 150px;
    color: #eeeeee;
    margin-bottom: 25px;
}

.containerServicos{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardServico1{
    background: #5d7ff0;
    height: 380px;
    width: 350px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 3px 3px 3px rgb(52, 85, 146);    
}

.cardServico2{
    background: #5d7ff0;
    height: 380px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 8px 10px rgb(52, 85, 146);
    width: 350px;
}

.cardServico3{
    background: #5d7ff0;
    height: 380px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 4px 4px 4px rgb(52, 85, 146);
    width: 350px;
}

.containerImgServico{
    background: #eeeeee;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.imgSvgServico{
    width: 200px;
    height: 200px;
}

.h1Servico{
    color: #250364;
    font-size: 25px;
    padding-top: 10px;
}

.pServicos{
    color: #eeeeee;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.btnServico{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #eeeeee;
    margin-bottom: 5px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.imagemSvg {
    width: 550px;
    margin-left: 290px;
}

.containerP {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.p1 {
    margin-top: 50px;
    font-size: 70px;
    font-family: "Mukta", sans-serif;
    color: #020f58;
    margin-left: 30px;
}

.p2 {
    font-size: 170px;
    font-family: "Mukta", sans-serif;
    color: #020f58;
    margin-top: -100px;
    margin-left: 35px;
}

.pTexto {
    font-size: 25px;
    margin-left: 15px;
}

.h1SobreNos {
    text-align: center;
    margin-right: 68px;
    font-size: 45px;
    font-family: "Mukta", sans-serif;
    color: #eeeeee;
    margin-bottom: -80px;
}

#containerSobre {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #1d295f;
    height: 490px;
    justify-content: space-evenly;
}

img{
    width: 1343px;
}

p{
    color: #eeeeee;
    text-align: center;
}

.barraSobre{
    color: #eeeeee;
    height: 340px;
    background: #eeeeee;
    width: 2px;
}

.footer {
    background: rgba(163, 161, 212, 0.274);
    backdrop-filter: blur(19.5px);
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(17, 11, 11);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.row1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 400ms;
}

.row1 a:hover {
    color: #0a0db4;
}

.row1 a i {
    font-size: 2em;
    margin: 0% 1%;
}

.tituloEquipe{
    margin-left: 605px;
    font-family: "Mukta", sans-serif;
    margin-bottom: 50px;
    font-size: 45px;
    color: #000d6e;
}

#containerEquipe{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 105px;
}

.imgEquipe{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    box-shadow: #777777 1px 1px 5px 5px;
    transition: 400ms;
}

.imgEquipe:hover{
    opacity: 0.6;
}

.containerEquipe2{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tituloCard{
    margin-top: 10px;
    font-family: "Mukta", sans-serif;
    color: #000d6e;
}

.funcaoEquipe{
    font-size: 15px;
    color: #777777;
}

.imgHome{
    margin-top: 15px;
    margin-right: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
}