*{
    padding: 0;
    margin: 0;
    font-family: "Mukta", sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 70px;
    background: rgba(1, 14, 202, 0.61);
    backdrop-filter: blur(19.5px);
    position: fixed;
}

.borda{
    display: flex;
    margin-right: 160px;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    width: 650px;
    margin-bottom: 19px;
    align-items: center;
    height: 30px;
    border: 1px solid rgba(4, 30, 77, 0.39);
}

.menuItem{
    text-decoration: none;
    list-style: none;
    align-items: end;
    color: aliceblue;
}

.linkMenu{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu:hover{
    background: #021258;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 90px;
    height: 90px;   
    color: rgb(255, 255, 255);
}

.linkMenu1{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu1:hover{
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    margin-right: 30px;
    height: 20px;
    color: #eeeeee;
}

.linkMenu2{
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu2:hover{
    background: #000d6e;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    margin-right: 25px;
    height: 20px;
    color: #eef0f8;
}

.barra{
    color: #eeeeee;
    margin-bottom: 15px;
    margin-right: 10px;
}

.logo{
    width: 90px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.titulo{
    font-size: 20px;
    margin-right: 150px;
    color: #eeeef3;
    margin-bottom: 25px;
}

#boddy{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: space-around;
}

.explicacao{
    padding-top: 8px;
    width: 500px;
    font-size: large;
    color:  #020f58;
}

.primeiroCalculo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    display: flex;
    width: 500px;
    height: 400px;
    color: white;
    font-size: 15px;
    border: 1px solid #020f58;
    border-radius: 20px;
    background-color: rgba(28, 36, 104, 0.671);

}

button{
    border: 3px solid #020f58;
    width: 100px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #020f58;
}

.boddy{
    width: 1035px;
    width: 1050px;
    padding: 3% 15% 5% 2%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-evenly;
}

.segundoCalculo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    display: flex;
    width: 100%;
    height: 400px;
    color: white;
    font-size: 15px;
    border: 1px solid #020f58;
    border-radius: 20px;
    margin-left: 75px;
    margin-right: 100px;
    background-color: rgba(28, 36, 104, 0.671);
}

.mensagem{
    color: red;
}

.footer {
    background: rgba(163, 161, 212, 0.274);
    backdrop-filter: blur(19.5px);
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(17, 11, 11);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

