body{
    background-color: black;
}

#pesquisab{
    
    background-color: white;
    width: 100px;
    height: 100px;
    border-bottom: 10px;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing  ao regular a altura considera a borda do objeto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 255); */
    background-color: #adadad;
    /* background-color: #ffd900; */

}
.areaalerta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;

}
.header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #ffffff;
}
.info-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #000000;
    width: 50%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
/* Estilos para a tabela */
table {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000;
    padding: 15px;
}
th {
    background-color: #525252;
}
canvas {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    padding: 40px;
}

.conteiner {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.navbar {
    display: flex;
    list-style: none;
}

a {
    color: rgb(0, 26, 255);
}

.navbar li {
    margin-right: 10px;
}

.banner {
    height: 400px;
    background-image: url("imagens/caminhao.PNG");
    background-repeat: no-repeat;
}

.banner .conteiner {
    width: 100%;
    justify-content: center;
}

.banner .conteiner p {
    width: 250px;
    font-weight: bold;
    font-size: medium;
   
}

.social {
    height: auto;
    padding: 60px 0;
    background-color: #e5e5e5;
   
}

.card {
    width: 100px;
    height: 100px;
    color: #222;
    display: flex;
    align-self: center;
}

.alerta {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    font-size: 20px;
}
.social .conteiner .card img {
    width: 100px;
}

.social .conteiner .card h4 {
    font-size: 20px;
}

#cadastro {
    padding: 20px;
}
